.header {
  height: 60px;
  width: 100%;
  display: flex;
  
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  position: fixed;
  
  
  margin: 0;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0px;
  z-index: 99999;
}

.header > h3 {
  margin: 0;
  padding: 10px;
}
